@import "../../../static/main.scss";

.quotes-list-container {
    @extend %flex-container-row;
    margin: 0 auto;
    min-width: 320px;
    max-width: 1440px;
    overflow-X: auto;
}

.quotes-list-column {
    @extend %flex-container-column;
    @extend %flex-item-1;
}

.quotes-list-no-results {
    color: $gray;
}

.quote-container {
    @extend %flex-container-column;
    box-sizing: border-box; 
    position: relative;
    background-color: $white;
    @extend %box-shadow;
    padding: 1.7rem 1.5rem;
    margin: .8rem;
    border-radius: 10px;

    .quote-head {
        @extend %flex-container-row;
        justify-content: space-between;
        margin-bottom: 1.9rem;

        .quote-icon {
            fill: $persian-blue;
        }

        .quote-close-icon {
            fill: $gray;
            cursor: pointer;
            transition: all .4s ease;

            @media (hover: hover) {
                &:hover {
                    fill: $persian-blue;
                }
              }
        }
    }

    .quote-content-container {
        padding: 0 1.5rem;
    }

    .quote-content {
        margin-bottom: 2.4rem;
        color: $black;
    }

    .quote-tags {
        margin-bottom: 2.4rem;
        color: $gray;
        font-size: .8rem;

        .quote-tag {
            display: inline-block;
            padding: .6rem;
            border: 1px solid $gray;
            border-radius: 32px;
            margin-right: 0.8rem;
        }
    }

    .quote-participant-info {
        color: $gray;
        font-size: .8rem;
    }
}

@media #{$tablet} {
    .quote-container {
        padding: 1.7rem 1rem;
        margin: .4rem;
    }
}