@import "../../../static/main.scss";

.search-bar-container {
    @extend %flex-container;
    justify-content: flex-start;
    background-color: $white;
    @extend %box-shadow;
    width: 600px;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 32px;
    color: $gray
}

.search-bar-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    color: $gray;
}

.search-bar-icon {
    fill: $gray;
    margin-right: .8rem;
}

@media #{$mobile} {
    .search-bar-container {
        width: 90%;
    }
}