@import "./colors.scss";

$mobile: "(max-width: 600px)";
$mobile-landscape: "(max-width: 900px) and (orientation: landscape)";
$tablet:  "(max-width: 1200px)";

@font-face {
    font-family: 'skila';
    src: url(./fonts/silka-regular.woff2) format('woff2'),
        url(./fonts/silka-regular.woff) format('woff');
};

@font-face {
    font-family: 'skila-italic';
    src: url(./fonts/silka-regularitalic.woff2) format('woff2'),
        url(./fonts/silka-regularitalic.woff) format('woff');
};

%flex-container {
    display: flex !important;
}

%flex-container-row {
    @extend %flex-container;
    flex-direction: row;
}

%flex-container-column {
    @extend %flex-container;
    flex-direction: column;
}

@for $i from 1 through 10 {
    %flex-item-#{$i} {
        flex: #{$i};
    }
}

body, html{
    min-width: fit-content;
    margin:0;
    padding:0;
}
