@import "./colors.scss";

$mobile: "(max-width: 600px)";
$mobile-landscape: "(max-width: 900px) and (orientation: landscape)";
$tablet:  "(max-width: 1200px)";

body {
    background-color: $athens-gray;
}
